* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0f0f0f;
  font-family: 'Gabarito', serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-container {
  width: 100px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
