* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0F0F0F;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
